.section {
  width: 1600px;
  margin: 50px auto;
  position: relative;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.logo {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: -1;
}

.btn {
  cursor: pointer;
  font-size: 50px;
  border: none;
}

.btnWrapper {
  display: flex;
  gap: 150px;
  position: absolute;
  left: calc(50% - 125px);
  bottom: -80px;
}

.timedWarning {
  font-size: 30px;
  left: 0;
  bottom: 70px;
  color: crimson;
  position: absolute;
}

.textWrapper {
  font-size: 22px;
  margin-bottom: 100px;
}

.text {
  margin-bottom: 50px;
}

.input {
  height: 200px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  resize: none;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.inputWrapper label {
  font-size: 25px;
  font-weight: bold;
}
