.section {
  width: 1520px;
  margin: 50px auto;
  position: relative;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.logo {
  position: absolute;
  top: -15px;
  left: 35px;
  z-index: -1;
}

.numInputWrapper {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  font-size: 50px;
  border: none;
  /* position: absolute; */
  /* bottom: -50px; */
  /* left: 50%; */
}

.btnWrapper {
  display: flex;
  gap: 150px;
  /* margin: 0 auto; */
  position: absolute;
  left: calc(50% - 125px);
  bottom: -80px;
}

.timedWarning {
  font-size: 30px;
  left: 0;
  bottom: 70px;
  color: crimson;
  position: absolute;
}
